.formPage{
    background-color: #dada96;
    height: 70vh;
    width: 100vw;
}

.form{
    position: relative;
    top: 10%;
    height: 50%;
    width: 50%;
    margin: auto;
    justify-content: center;
}

.btn-form{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: brown;
    text-decoration: none;
    color: white;
}