.harvestingPage{
    background-color: rgb(255 215 215);
    height: fit-content;
    /* padding-top: 40px; */
    padding-bottom: 50px;
    /* margin-bottom: 20px; */
    /* margin: 20px; */
    width: 100vw;
    color: black;
}

.harvestingTitle{
    background-color: rgb(45 21 21);
    padding-top: 20px;
    width: 100vw;
    height: 15vh;
    color: white;
}

h1{
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
    /* font-family:Arial, Helvetica, sans-serif; */
}

/* h3{
    text-align: left; */
    /* margin-left: 2vw;
} */

.climate{
    /* width: 90vw; */
    /* font-size: ; */
    text-align: left;
    /* position: relative; */
    /* left: 2vw; */
    /* margin-left: 2vw; */
    /* justify-content: center; */
    /* text-align: center; */
    /* width: 50vw;  */
}

.image{
    width: 700px;
    margin: 6vw;
}

.bg{
    /* background-color: black; */
    /* color: white; */
    margin: auto;
    margin-top: 75px ;
    margin-bottom: 75px ;
    width: 70vw;
    border: 1px solid black;
    padding: 3vw;
    align-items: center;
    /* justify-content: center; */
    font-size: large;
}